<%= image_tag featured_article.image.url, height: '580px', width: '100%', class: 'all-images' %>
    <div class="featured_title_text">
    <h3 class="featured_article_title"><%= featured_article.title %></h3>
</div>