<div class="container-fluid overall-box">
    <div class="">
        <div class="col-lg-12 feature-cover">
           <%= articles_exist %>
        </div>
    </div>
    <div class="latest_article_box">
        <% @categories.each do |cate| %>
            <%= display_latest_articles(cate) %>
        <% end %>
    </div>
</div>
