<%= provide(:text_button, 'Create') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 article-form">
            <h2 class="text-center new">New Article</h2>
            <%= render 'form' %>
        </div>
    </div>
</div>