<div class="container-fluid">
    <div class="row article-container">
        <div class="col-lg-6">
            <%= image_tag @article.image.url, width: '103%', height: '100%' %>
        </div>
        <div class="col-lg-6 text-box">
            <h3 class="show-title"><%= @article.title %></h3>
            <h3 class="show-content"><%= @article.text %></h3>
        </div>
    </div>
    <br>
    <%= link_to 'Back', root_url %>
</div>
