<%= provide(:text_button, 'Sign up') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12 signup-image leftimg">
            </div>
        </div>
        <div class="col-lg-5 login-profile">
            <div class="row">
                <div class="col-lg-11">
                    <%= render 'shared/signup_form' %>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>