<div class="container-fluid">
    <h3 class="count-info">Hey <%= @user.name %>, you have <%= "#{ @articles.count } #{ "article".pluralize(@articles.count) }" %> created!</h3>
</div>

<div>
    <%= render 'articles/article' %>
</div>
