@import 'custom';

.category-link {
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 30px;
    text-decoration: underline;
    color: #ff0000;
    z-index: 2;
    display: flex;
    align-items: center;
}

.category {
    color: #ff0000;
}

.all-images {
    opacity: 0.8;
    z-index: 1;
}


/* Category Form */
.catego {
    width: 35%;
}


/* Category Style */

.cate-name {
    font: normal 15px;
    color: red;
}

.cate-title,
.title-color {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
}

.category-box {
    background: #fff;
    height: 260px;
}

.count-info {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    color: #000;
}
