@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@1,500&family=Oswald:wght@469&family=Playfair+Display:ital@1&display=swap');

// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Playfair Display', serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(236, 228, 209) 16%, rgb(219, 197, 154) 53%);
    margin-top: 60px;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Style*/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 16px;
    color: #4f4e4d;
}


.shift {
    margin-right: 10px;
}

.logo-like {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-left: 15px;
}

.title {
    font-family: 'Playfair Display', serif;
}

#circle {
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: -78px;
}

.logo {
    color: #212121;
    font-family: 'Playfair Display', serif;
    &:hover {
        text-decoration: none;
        color: #4f4e4d;
    }
}

.box {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.category-link {
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 30px;
    text-decoration: underline;
    color: #ff0000;
    z-index: 2;
}

.category {
    color: #ff0000;
}

.all-images {
    opacity: 0.8;
    z-index: 1;
}

.content-title {
    font-size: 18px;
    position: absolute;
    top: 170px;
    left: 20px;
    color: #fff;
    z-index: 2;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.2%;
    margin-right: 0.2%;
}

.art-test {
    display: flex;
    width: 50%;
}

.art-test:nth-child(-n+2) {
   flex-direction: row-reverse !important;
}

.side-image {
    padding-left: 0 !important;
}

.show-title {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 30px;
    color: red;
}

.vote-button {
    position: absolute;
    top: 30px;
    right: 20px;
}

.written-by {
    position: absolute;
    top: 60px;
    left: 30px;
}

.show-content {
    font-size: 16px;
    position: absolute;
    top: 130px;
    left: 30px;
}

.text-box {
    background: #fff;
    width: 50%;
    height: 368px;
}

.category-box {
    background: #fff;
    height: 260px;
}

.count-info {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    color: #000;
}

/* form */

input, textarea, .uneditable-input {
    border: 1px solid #bbb;
    width: 20%;
    margin-bottom: 20px;
  }
  
select {
    margin-bottom: 1.5rem;
}
  
input {
    height: auto !important;
}
  
form {
    width: 100%;
}

.login-profile {
    background: #fff;
    padding: 20px;
    padding-top: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #4f4e4d;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

.signup {
    text-align: center;
    margin-bottom: 20px;
}

.article-form {
    background: #fff;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

.new {
    margin-bottom: 40px; 
}


/* Login and Sign up pages */
.login-img {
   background-image: url('asooke-1.jpg');
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   margin-top: -50px;
   opacity: 0.5;
}

.leftimg {
    height: 98vh;
}

/* Category Form */
.catego {
    width: 35%;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding-top: 10px;
    padding-bottom: 10px;
}
.space {
    margin-left: 10px;
    color: #fff;
}

.text-bottom,
.bottom-logo {
    color: #d3cece;
}

.text-bottom {
    font-size: 15px;
}

.social-connect {
    margin-right: 20px;
}

/* Category Style */

.cate-name {
    font: normal 15px;
    color: red;
}

.cate-title,
.title-color {
    font-size: 18px;
    font-weight: bold;
    color: #212121;
}

.art-author {
    font-size: 15px;
    font-weight: normal;
    color: #4f4e4d;
}

.art-text {
    font-size: 15px;
    margin-top: 50px;
    color: #000;
}

/* Notice Message */
.message {
    width: 20%;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    color: #ff0000;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 600px;
    z-index: 2;
}

.overall_box {
    position: relative;
}

.latest_article_box {
    position: absolute;
    bottom: 50px;
}

.feature-cover {
    margin-top: -3%;
    padding-left: 0;
    padding-right: 0;
}

.featured_title_text {
    position: absolute;
    top: 250px;
    width: 100%;
}

.featured_article_title {
    font-weight: bold;
    color: #ff0000;
    margin-left: 2.5%;
}

.featured_article_text {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-left: 2.5%;
}

/* Image as background */

.new_cate_page {
    height: 260px;
    background-image: url('splash11.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-area {
    margin-top: -1%;
}

.login-image {
    height: 260px;
    background-image: url('splash13.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
