<h3 class="category-link"><%= link_to cate.name, cate, class: 'category' %> <div class="count-color"><%= "#{cate.articles.count}" %></div></h3>
<h3 class="content-title"><%= cate.articles.take.title %></h3>
<%= cl_image_tag cate.articles.take.image.url, height: "240", width: "334", class: 'all-images' %>
