<div class="container-fluid">
    <div class="all-categories">
        <% @categories.collect do |cate| %>
            <div class="col-lg-3 box">
               <%= available_category(cate) %>
            </div>
        <% end %>
    </div>
</div>
