<%= provide(:text_button, 'Create') %>
<div class="container-fluid">
    <div class="row image-area">
        <div class="col-lg-12 new_cate_page">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2>Create New Category</h2>
            <%= render 'form' %>  
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
