<footer class="navbar-fixed-bottom navbar-expand-lg navbar-light">
  <div class="logo-like logo-bottom">
    <h3><%= link_to 'LiVe+LoCaL', '#', class: 'logo bottom-logo' %></h3>
    <div id="circle"></div>
  </div>
  <div>
    <p class="text-bottom">Copyright 2020. All rights reserved</p>
  </div>
  <div class="social-connect text-bottom">
    Connect with me:
    <%=link_to(content_tag(:i, nil, class: "fab fa-twitter-square social-icon fa-spin fa-2x space"), "https://twitter.com/qoosim_ayinde", target: "_blank") %>
    <%=link_to(content_tag(:i, nil, class: "fab fa-github-square social-icon fa-spin fa-2x space"), "https://github.com/Qoosim", target: "_blank") %>
    <%=link_to(content_tag(:i, nil, class: "fab fa-linkedin social-icon fa-spin fa-2x space"), "https://www.linkedin.com/in/qoosim-abdulghaniyy-3609/", target: "_blank") %>   
  </div>
</footer>